:host {
    display: block;
}
.pt {
    background-color: blue;
    cursor: pointer;
    position: absolute;
    -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.drag-container {
    border: 1px solid black;
    background-size: 100%;
    position: relative;
}
.img {
    position: absolute;
}