<div class="drag-container" id="drag-container"
    [ngStyle]="{'height': height + 'px' }"
    #dragContainer>
    <img src="{{imageBase}}" class="imageDrag" id="imageBase" [ngStyle]="{'width' : widthBase + 'px'}" />
    <template ngFor let-image [ngForOf]="images" let-i="index">
        <div class="imageUp" [id]="image.id" 
        [ngStyle]="{'width' : image.width + 'px', 'height': image.height + 'px', 'background-image': 'url(' + image.parent.url + ')' }"></div>
        <div
            *ngFor="let point of image.polygon.points" 
            [id]="point.id" class="pt draggable {{point.type}} draggable_{{image.id}}"
            [attr.corner]="point.type"
            [ngStyle]="{'visibility': image.doorLocked ? 'hidden':'visible'}">
            </div>
    </template>
</div>
