
Width
<br>
<input type="range" name="width" min="30" max="1800" [(ngModel)]="width">
<br>
Select House 
<br>
<img *ngFor="let house of houses" [src]="house" width="80" (click)="imageBase=house"><br>
Select Door
<br>
<img *ngFor="let door of doors" [src]="door" width="80" (click)="imageOverlapped=door">
<br>
House zoom ({{zoom / 100}})
<br>
<input type="range" name="zoom" min="20" max="700" [(ngModel)]="zoom"> <button (click)="zoom=100">Reset Zoom</button>
<br>
Lock door<input type="checkbox" name="lock-door" [(ngModel)]="lockDoor">
<br>
<app-overlapper
    [imageBase]="imageBase"
    [imageOverlapped]="imageOverlapped"
    [width]="width"
    [pointSize]="pointSize"
    [lockDoor]="lockDoor"
    [zoom]="zoom"></app-overlapper>
