
Width
<br>
<input type="range" name="width" min="30" max="1800" [(ngModel)]="width">
<br>
Select House 
<br>
<img *ngFor="let house of houses" [src]="house" width="80" (click)="imageBase=house"><br>
Select Door
<br>
<img *ngFor="let door of doors" [src]="door" width="80" (click)="imageOverlapped=door">
<br>
<button (click)="updateZoom(-1)">-</button>
House zoom ({{zoom / 100}})
<button (click)="updateZoom()">+</button>
<br>
Duplicate door<input type="checkbox" name="duplicate-door" [(ngModel)]="duplicateDoor">
<br>
<app-overlapper
    [imageBase]="imageBase"
    [imageOverlapped]="imageOverlapped"
    [width]="width"
    [duplicateDoor]="duplicateDoor"
    [zoom]="zoom"></app-overlapper>
